<style>
  .fixed{
        width:100%;
        height:2500px;
        background-image:url("https://wallpaperaccess.com/full/3662969.jpg");
        background-size:cover;
        background-attachment:fixed;
    }

    .card-custom {
        background-color: MediumSeaGreen;
        width: 70rem;
        
    }
</style>

<div class="fixed">
<center>
<br>
<div class="card-custom border border-dark">
<h2><%= @recipe.title %></h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <p><small class="text-muted">Servings: <%= @recipe.servings %></small></p>
      <p><small class="text-muted">Total Time: <%= @recipe.ready_minutes %></small></p>
      <p><small class="text-muted">Health Score: <%= @recipe.health_score %></small></p>
      <p><small class="text-muted">Vegetarian: <%= @recipe.vegetarian %></small></p>
      <p><small class="text-muted">Vegan: <%= @recipe.vegan %></small></p>
      <p><small class="text-muted">Gluten Free: <%= @recipe.gluten_free %></small></p>
      <p><small class="text-muted">Dairy Free: <%= @recipe.dairy_free %></small></p>
      <p><small class="text-muted">Sustainable: <%= @recipe.sustainable %></small></p>
      <p><a href="<%= "#{@recipe.url}" %>">Recipe Instructions</a></p>
    </div>
    <div class="col-md-4">
      <img src="<%= @recipe.image %>" class="rounded float-start" alt="Recipe Photo">
    </div>
  </div>
</div>
  <br>

  <div class="col align-self-center">
    <h2>Recipe Summary</h2>
  </div>
  <p class="lead">
    <%= strip_tags(@recipe.summary) %>
  </p>
  <br>

<h2>Wine Pairings</h2>
<% if @recipe.wine_pairings != nil && @recipe.wine_pairings != []%>
  <% @recipe.wine_pairings.each do |wine| %>
    <p><%= wine.titleize %></p>
  <% end %>
<% else %>
  <h2>There are no wine pairings for this recipe</h2>
<% end %>
  </div>
  </center>
</div>
