
<h1> Relevant Articles on Food Insecurity </h1>

<div id= 'our_favourite_orgs'>
    <% @articles.each do |article|  %>
        <div id="article-<%= article.url %>">
            <%= article.header %>
            <%= link_to "#{article.url}", "#{article.url}" %>
        </div>
    <% end %>
</div>

<div id='our_favorite_orgs'>
    <%= button_to 'Donate to Feeding America', 'https://secure.feedingamerica.org/site/Donation2;jsessionid=00000000.app20020b?idb=398464444&df_id=26876&26876.donation=form1&mfc_pref=T&NONCE_TOKEN=405A2D075D7131E201CD40AEAB6F3E6C&s_channel=google&s_onsite_promo=MainNav_Donate&s_subsrc=https://www.feedingamerica.org/find-your-local-foodbank&s_src=W228ORGSC&26876_donation=form1&s_referrer=google&_ga=2.156830523.1065449981.1659383540-2069769676.1659383540' %>
</div>

<div id='our_favorite_news'>
     <%= link_to 'Food Bank News', 'https://foodbanknews.org/' %>
</div>