<style>
    .card-custom {
        background-color: MediumSeaGreen
    }
    .rcorners1 {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
    .border-primary {
        border-color: black
    }
    .fb-items {
        background-color: lightgreen;
        font-size: 20px
    }
    .header{
        padding-top: 25px;
    }
    .border{
        padding-top: 25px;
        background-color: lightgreen
    }
    .img{
        opacity: 0.85;
    }
    body, html {
        height: 100%;
    }

    .bg {
        /* The image used */
        background-image: url("https://wallpaperaccess.com/full/3662969.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<div class="bg ">
    <br><br><br>
    <div class="img container">
        <div id="information" class="card border-dark">
            <center>
            <div></div>
                <div class="header card-custom text-black" style="--bs-bg-opacity: .5;">
                    <h2><b><%= @foodbank.name %></b></h2><br>
                </div>
                <div class="fb-items header">
                    <div>
                        <p><b><%= @foodbank.snippet %></b></p><br>
                    </div>

                    <div>
                        <p><b><%= @foodbank.mission %></b></p><br>
                    </div>

                    <div>
                        <p><b>Score:</b> <%= @foodbank.rating %></p><br>
                    </div>

                    <div>
                        <p><b>Foodbank Website: <%= link_to "#{@foodbank.link}", "#{@foodbank.link}"%></b></p><br>
                    </div>

                    <div>
                        <p><b>Address:</b> <%= @foodbank.city %>, <%= @foodbank.state %>, <%= @foodbank.street %>, <%= @foodbank.postalcode %></p><br>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>