<!DOCTYPE html>
<html>
  <head>
    <title>WasteNoMoreFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  


  <body>
    <nav>
      <img src="" alt="">

      <ul class="links">
        <% if current_user %>
          <li class="nav-link" id="right_links"><%= link_to "Log Out", users_path, method: :delete %></li>
          <li class="nav-link" id="left_links"><%= link_to "Home", "/dashboard" %></li>
        <% else %>
          <li class="nav-link" id="right_links"><%= link_to "Log In", '/auth/google_oauth2/callback' %></li>
        <% end %>
        <li class="nav-link" id="left_links"><%= link_to "Resources", '/resources' %></li>
        <li class="nav-link" id="left_links"><%= link_to "Foodbanks", '/foodbanks' %></li>
      </ul>
    </nav>

    <center>
      <h1>Waste No More</h1>
    </center>

    <% flash.each do |type, msg| %>
      <div>
        <h3 style= "color:red">  <%= msg %> </h3>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
