<!DOCTYPE html>
<html>
  <head>
    <title>WasteNoMoreFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
<center>
  <h1>Waste No More</h1>
</center>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <h3 style= "color:red">  <%= msg %> </h3>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
